body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: black;
}

section{
    display: flex;
    gap: 20px;
}

button {
    font-size: large;
    border: none;
    color: black;
    background-color: gold;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 2px 8px 10px rgba(207, 204, 204, 0.3);
}